section{
    border: .1em solid rgb(136, 136, 136);
}
section div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgb(240, 240, 240);
    padding: 1em;
}
section ul{
    text-align: justify;
    list-style: none;
    padding: 2em;
}
section ul li span{
    font-weight: bold;
    font-size: 14pt;
}