section{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
}
section div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background: rgb(240, 240, 240);
    padding: 1em;
}
section div h3{
    padding-right: 5px;
}
section div label{
    color: rgb(255, 102, 0);
}
section ul{
    text-align: justify;
    list-style: none;
    padding: 2em;
}
section ul li span{
    font-weight: bold;
    font-size: 14pt;
}